

/*AQUÍ SE EJECUTA EL ESTILO DEL TITULO DE LA SECCIÓN*/
#titulo_lavan {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;

  background-color: #fff;
}


#titulo_lavan h1 {
  text-align: center;
}


/* AQUÍ SE EJECUTA EL ESTILO DE EL ASIDE*/
.primero{
  display:inline-block;
}
aside{
  
  margin-left: 1%;
  position: relative;
  list-style: none;

  width: 230px;
  height: 450px;

  background-color: #24ae63
}

.tabla_filtro  li{
  position: relative;
  list-style: none;

}

.filtro li {
  padding: 3%;

  font-size: 16px;
}

.tabla_filtro > li {
  display: block;
  color: #fff;
  font-size: small;
  text-decoration: none;
}

.tabla_filtro li label:hover{
  color: #18683c;
  transition: all .3s;
}

.primero{
  display: flex;
  color: black;
}
.clasificacion_filtro{
  
  text-align: center;
  background-color:#18683c;
  
}
/*AQUÍ SE EJECUTA EL GRIDCONTAINER*/

.dtop1 {
  grid-area: dtop1;
}

#titulo_lavan {
  grid-area: titulo_lavan;
}

#aside_lavand {
  grid-area: aside_lavand;

  margin: 0;
  padding: 0;
  margin-left: 25%;
}

#main-lavan {
  grid-area: main-lavan;

  padding: 0;
  margin: 0;
}

.S-A {
  grid-area: S-A;
}

#footer_lavan {
  grid-area: footer_lavan;
}

/*AQUI SE EJECUTA ESTILO DE MAIN*/
.grid-container {
  display: grid;
  grid-template-areas: 
  "dtop1"
  "titulo_lavan"
  "aside_lavand"
  "main-lavan"
  "S-A"
  "footer_lavan";

}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 340px auto;
    grid-template-areas:
    "dtop1 dtop1"
    "titulo_lavan titulo_lavan"
    "aside_lavand main-lavan"
    "S-A S-A"
    "footer_lavan footer_lavan";
  }
}

#main-lavan {
  margin: 0;
  padding: 0;
}

.main-lavan-prodc-img {
  margin: 0;
  padding: 0;


  margin-left: 17%;
}

#main-lavan-prodc1-2 {
  margin: 0;
  padding: 0;

  display: flex;
  margin-left: 7%;
}

#main-lavan-prodc3-4 {
  margin: 0;
  padding: 0;

  display: flex;
  margin-left: 7%;
}

.prdNuno, .prdNdos, .prdNtres, .prdNcuatro {
  
  margin: 1%;
  padding: 10px;

  width: 400px;
  height: 400px;

 background-color: #fff;
}


/*aqui esta el css del espacio de los anunciós */
.S-A{
  display: block;
  margin-top: 10px;
}
.prueba{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 0;
  padding-top: 1%;
  background-color: #c4c4c4;
  
}
.laundry{
  margin: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: auto;
  padding-left: 10px;
  text-align: justify;
}
.pag{
  width: 150px;
  height: 185px;
  
}

.laundry > img{
  max-width: 100%;
  height: auto;
}
