.slyder{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slyder ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate ease-out;
}

.slyder li{
    width: 100%;
    list-style: none;
}

.slyder img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
} 

.contenedor {

    display: flex;
    width: 98%;
    height: 25px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    margin: auto;
    margin-top: 0;
    background-color: rgb(152, 152, 152);

    overflow: hidden;
}

.contenedor2 {

    display: flex;
    width: 98%;
    height: 25px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    margin: auto;
    margin-top: 0;
    background-color: rgb(133, 122, 255);

    overflow: hidden;
}

p {
    flex: 50%;
    text-align: right;
}

.contenedor ul {
    flex: 50%;
    list-style: none;
    padding-left: 10px;
    animation: cambiar 6s infinite;
    text-align: left;
}

up,p {      
    margin: 0;
}

@keyframes cambiar {
    0% { margin-top:0;}
    15% {margin-top:0;}

    20% {margin-top: -25px;}
    45% {margin-top: -25px;}

    50% {margin-top: -50px;}
    75% {margin-top: -50px;}
    
    80% {margin-top: -25px;}
    95% {margin-top: -25px;}

    100% {margin-top: 0px;}
}

.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
}
/*jean aqui arriba modifique con el flex-warp para cuando se achique la pagina*/
.bar4x4_1 {
    flex: 5%;
    width: 190px;
    height: 170px;
    
    background-color: #ffffff;

    display: flex;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.bar4x4_2 {
    flex: 5%;
    width: 190px;
    height: 170px;
    background-color: #ffffff;

    display: flex;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.bar4x4_3 {
    flex: 5%;
    width: 190px;
    height: 170px;
    background-color: #ffffff;

    display: flex;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.bar4x4_4 {
    flex: 5%;
    width: 190px;
    height: 170px;
    background-color: #ffffff;

    display: flex;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.contenedor2 ul {
    flex: 50%;
    list-style: none;
    padding-left: 10px;
    animation: cambiar 6s infinite;
    text-align: left;
}

.favimg1 {

    width: 165px;

    padding-top: 10px;
    padding-left: 5px;
}

.textin1 {
    height: 170px;
    width: 145px;
    font-size: 13px;
    font-family: Helvetica;

    padding-top: 60px;
    padding-right: 30px;

}

.favimg2 {

    width: 165px;

    padding-top: 10px;
    padding-left: 5px;
}

.textin2 {
    height: 170px;
    width: 145px;
    font-size: 13px;
    font-family: Helvetica;

    padding-top: 60px;
    padding-right: 30px;

}

.favimg3 {

    width: 165px;

    padding-top: 10px;
    padding-left: 5px;
}

.textin3 {
    height: 170px;
    width: 145px;
    font-size: 13px;
    font-family: Helvetica;

    padding-top: 60px;
    padding-right: 30px;

}

.favimg4 {
    
    width: 165px;

    padding-top: 15px;
    padding-left: 5px;

}

.textin4 {
    height: 170px;
    width: 145px;
    font-size: 13px;
    font-family: Helvetica;

    padding-top: 60px;
    padding-right: 30px;

}